
article.tile.is-parent {
  margin: 0 0 30px;

  section.card.tile.is-child.box {
    margin: 0 20px 0 !important;
    padding: 0px;
    img {
      height: 300px;
      width: 100%;
      padding: 25px;
      object-fit: cover;
    }


    @media screen and (max-width: 320px) {
      .button {
        width: 90%;
        font-size: 70%;
      }


    }
    
    .card-content {
      margin-bottom: 10px;
    }
  }
}


