

nav.navbar {
  background-color: #eee;
  
  .navbar-brand {
  display: inline;

  .navbar-item {

    #nav-logo-size {
        
          max-height: none;
          margin-bottom: 20px;

    } 
  }

  }
}

