
#reservation-container {
  table.reservation-dashboard {
    th,
    td {
      text-align: center;
      vertical-align: middle;
    }
  }
  div.icon.floaty-icon {
    @include stylize-floaty-icon($green-background, $green-shadow);
  }
}

@media screen and (max-width: 770px) {
  #reservation-container {
    margin-top: 20px;
  }
}

@media screen and (max-width: 700px) {
  #responsive-scroll {
    overflow: scroll;
  }
}

@media screen and (max-width: 400px) {
  #responsive-rezo-size {
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  #rezo-button-width {
    width: 100%;
  }
}


