#reservation-container {
  table.reservation-dashboard {
    th,
    td {
      text-align: center;
      vertical-align: middle;
    }
  }
  div.icon.floaty-icon {
    @include stylize-floaty-icon($green-background, $green-shadow);
  }
}

@media screen and (max-width: 425px) {
  #reservation-container {
    margin-top: 20px;
  }
}