@import 'node_modules/bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css?family=Roboto');

$theme-font: 'Roboto', san-serif;

$yellow-background: linear-gradient(60deg, #ffa726, #fb8c00);
$green-background: linear-gradient(60deg, #66bb6a, #43a047);
$red-background: linear-gradient(60deg, #ec407a, #d81b60);
$blue-background: linear-gradient(60deg, #26c6da, #00acc1);

$yellow-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
$green-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
$red-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
$blue-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);

@mixin stylize-floaty-icon($background, $shadow) {
  & {
    color: white;
    font-weight: bold;
    font-size: 25px;
    position: relative;
  }
  position: relative;
  padding: 30px;
  top: -10px;
  transform: translateY(-50%);
  border-radius: 3px;
  background-color: #999;
  background: $background;
  box-shadow: $shadow;
}