@import './partials/_var.scss';
@import './partials/_layout.scss';
@import './partials/_navbar.scss';
@import './partials/_booking_form.scss';
@import './partials/_reservation-dashboard.scss';
@import './partials/_categories.scss';
@import './partials/_menu.scss';
@import './partials/_order-list.scss';




